#backluma {
    text-shadow: 0 0 24px #C390D4;
    color: #C390D4;
}

#canvas {
    cursor: crosshair;
    display: block;
}

#close {
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    top: -18px;
    left: -18px;
    background-color: #cc0000;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    font-family: 'Sniglet', cursive;
    cursor: not-allowed;
}