@import url(https://fonts.googleapis.com/css?family=Lobster);

#glasberj {
    text-shadow: 0 0 24px #DD74E8;
    color: #BF36CE;
}

/* ody {
    background-image: url("paper.gif");
    background-color: #cccccc;
	
		backgroundImage = "url('star.jpg')";
} /*