.container {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    background-color: lightgreen;
    padding: 20px;
}

.shutter {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 20px;
}