.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}

.shutter {
    position: relative;
    width: 100px;
    height: 100%;
    background-color: green;
}