#container {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    background-color: royalblue;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

.shutter {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: darkblue;
    margin: 20px;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-weight: 800;
    font-size: 60px;
    color: royalblue;
    cursor: pointer;
}
